:root {
  --textColor: white;
  --secColor: #ff9350;
}
@font-face {
  font-family: xeroda;
  src: url(fonts/XerodaRegular-p7dwr.otf);
}

body {
  overflow: hidden auto;
  /* overflow-x: hidden; */
  position: relative;
  background-image: url(Media/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: xeroda;
  height: 100vh;
  margin: 0;
}

.navBar {
  z-index: 5;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.navBar a {
  color: var(--textColor);
  text-decoration: none;
  margin: 10px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
}
.navBar a::before {
  transition: 0.5s all;
  content: "";
  inset: 0 0 0 0;
  padding: inherit;
  width: inherit;
  position: absolute;
  filter: blur(5px);
  z-index: -1;
}
.navBar .active::before {
  filter: blur(5px);
  background-color: gray;
}

.navBar a:hover::before {
  background-color: gray;
}
button:hover {
  cursor: pointer;
}

h1,
h5 {
  color: var(--textColor);
}
h5 {
  width: 30rem;
}
h1 {
  font-size: 7rem;
  font-weight: 900;
  margin: 10px 0;
}
.page {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  border-radius: 10px;
}

.page1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}
.desc {
  margin-left: 7rem;
  left: 100px;
}
.siteName {
  text-shadow: 0px 0px 35px var(--secColor);
}

.getStarted {
  height: 50px;
  width: 200px;
  border: 0;
  color: var(--secColor);
  margin-right: 20px;
  z-index: 1;
  position: relative;
}
.getStarted::after {
  width: 0;
  transition: 0.5s all;
  position: absolute;
  content: " ";
  inset: 0 0 0 0;
  background-color: var(--secColor);
  z-index: -1;
}

.getStarted:hover {
  color: var(--textColor);
}
.getStarted:hover::after {
  width: inherit;
}

.meet {
  position: relative;
  height: 50px;
  width: 70px;
  border: 0;
  background-color: white;
  z-index: 0;
}
.meet span {
  color: var(--textColor);
  background-color: transparent;
}

.meet::after {
  transition: 0.5s all;
  content: "";
  inset: 0 0 0 0;
  z-index: -1;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--secColor);
}
.meet:hover span {
  color: black;
}
.meet:hover::after {
  height: 0;
}
.container {
  margin-top: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300vh;
  background-color: white;
}

.page2 {
  background-color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.page h2 {
  margin: 3rem 5rem 0;

  font-size: 2rem;
}

.product-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 30px;
  padding: 5px;
}
.category-grid .grid-item {
  flex-grow: 1;
  aspect-ratio: 1;
  position: relative;
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 20px;
  overflow: hidden;

  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 0;
}

.grid-item h3 {
  position: absolute;
  top: 45%;
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translate(-50%);
  color: var(--textColor);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
.grid-item img {
  object-fit: cover;
  width: 100%;
  height: 15rem;
  border-radius: 10px;
  filter: brightness(0.3);
  transition: 0.5s all;
  filter: blur(0px);
}

.category-grid .grid-item:hover.grid-item img {
  filter: blur(30px);
}
.grid-item:hover.grid-item img {
  cursor: pointer;
  transform: scale(1.1);
}

.mini-page {
  position: relative;
  margin: 100px 0;
  color: white;
  height: 15rem;
  overflow: hidden;
  background-color: black;
}

.minipage-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: fit-content;
}
.minipage-content h2 {
  margin: 0 0 30px;
}
.minipage-content * {
  z-index: 1;
}

.minipage-content h1 {
  font-size: 3rem;
}

.minipage-content .shop {
  position: relative;
  height: 50px;
  width: 200px;
  border: 0;
  color: var(--secColor);
  margin-right: 20px;
}
.minipage-content .shop::after {
  position: absolute;
  width: 0;
  transition: 0.5s all;
  content: " ";
  inset: 0 0 0 0;
  background-color: var(--secColor);
  z-index: -1;
}

.minipage-content .shop:hover {
  color: var(--textColor);
}
.minipage-content .shop:hover::after {
  width: inherit;
}

.mini-page .back-img {
  position: absolute;
  z-index: 0;
  height: 30rem;
  left: 50%;
  top: -60%;
  transform: translate(-50%);
  filter: brightness(0.3);
}
.featured-grid {
  flex-wrap: nowrap;
  overflow: scroll hidden;
}

.featured-grid .grid-item {
  flex-shrink: 0;

  height: 100%;
  width: 15rem;
}

.product-image {
  background-color: gray;
  border-radius: 10px;
  width: 15rem;
  /* height: 15rem; */
}
.product-image img {
  object-fit: contain;
}

.grid-item .featured-name {
  z-index: 3;
  display: block;
  margin: 10px 0 5px;
  letter-spacing: 3px;
  font-size: 1.5rem;
}
.grid-item .featured-price {
  letter-spacing: 2px;
  color: gray;
  margin: 0;
}
.page.page3 {
  height: fit-content;
  overflow: hidden;
}

.socials {
  width: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.social-item {
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  margin: 10px;
  background-color: transparent;
  border: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@media (max-width: 660px) {
  .trending {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .minipage-content {
    text-align: center;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.3rem;
      opacity: 80%;
    }
  }
  .page h2 {
    margin-top: 5px;
    text-align: center;
  }
  .container {
    margin-top: 70vh;
  }
  .page {
    height: 85vh;
  }
  .page.page3 {
    height: fit-content;
    overflow: hidden;
  }

  .category-grid {
    .grid-item {
      width: 10rem;
    }
  }
  .featured-grid {
    justify-content: start;
  }

  .product-grid {
    gap: 10px;
  }

  h1 {
    font-size: 3rem;
  }
  h5 {
    width: 100%;
    opacity: 80%;
  }
  .desc {
    text-align: center;
    margin: 0 30px;
    overflow: hidden;
  }
}
